.conta,
.icon {
  position: relative;
}
.icon {
  width: 22px;
  height: 22px;
}
.conta {
  letter-spacing: 0.5px;
  line-height: 16px;
  font-weight: 500;
}
.contaWrapper,
.iconParent {
  width: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconParent {
  width: 141px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-10xs);
}
.boxwhite3BoxesChild {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 129px;
  height: 1px;
}
.icon11 {
  position: relative;
  width: 27px;
  height: 27px;
}
.boxwhite3Boxes {
  position: absolute;
  top: calc(50% - 195.48px);
  right: 0;
  border-radius: var(--br-5xs);
  background-color: var(--text);
  box-shadow: 0 4px 43px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs);
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-4xs);
  text-align: left;
  font-size: var(--bcx-barlow-labe-medium-size);
  color: var(--color-darkslategray-500);
  font-family: var(--bcx-barlow-labe-small);
}
